
// Nav styles
$nav-color: #FFFFFF;
$nav-background-color: #4056A1;
$nav-brand-font: "Bungee", sans-serif;
$nav-font: "Source Sans Pro", sans-serif;

// Header colours
$header-color: #FFFFFF;
$header-font: "Bungee", sans-serif;
$header-background-color: #350066;
$header-background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  /* ^ This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */


// Body styles 
$body-color: #545149;
$body-background: #f4f1eccc;
$body-font: "Source Sans Pro", sans-serif;
$boxshadow-color: #8DA7B4;

// Error styles (apply in new-tweet.scss at the moment)
$error-color: crimson;
$error-font: "Source Sans Pro", sans-serif;

