@import 'variables';

.user-header {
  display: flex;
  background-color: $header-background-color;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  color: $header-color;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  height: 40vh;
  width: 100vw;
  font-weight: lighter;
  font-size: 1.5em;
  font-family: $body-font;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 100px;
    width: 100px;
    margin: 0;
  }
  span {
    font-size: 1em;
    margin-top: 0.4em;
  }
}

@media only screen and (min-width: 768px) {
  .user-header {
    display: flex;
    width: 25vw;
    height: 35vh;
    padding: 5%;
    margin-top: 12em;
    margin-left: 5%;
    position: fixed;
    font-size: large;
    img {
      height: 100%;
      width: 100%;
    }
    span {
      margin-top: 1.5em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .user-header {
    margin-top: 12em;
  }
}