@import 'variables';

.nav-bar {
  display: flex;
  background-color: $header-background-color;
  background-image: $header-background-image;
  color: $header-color;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;

  .tweet-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5em;
    font-family: $nav-font;
    font-size: 1em;
  }

  span {
    font-family: $nav-brand-font;
    margin-left: 1.5em;
  }

  .fa-angles-down {
    color: orangered;
    &:hover {
      color: magenta;
    }
  }
}

/* Tablet CSS Below */
@media only screen and (min-width: 768px) {
  .nav-bar {
    background-color: $nav-background-color;
    background-image: none;
    font-size: 1.8em;
  }
}


/* Desktop CSS Below */
@media only screen and (min-width: 1024px) {

}