@import 'variables';

.nav-bar {
  display: flex;
  background-color: $header-background-color;
  background-image: $header-background-image;
  color: $header-color;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  position: fixed;
  width: 100vw;
  top: 0vh;
  font-size: 1.2em;

  .tweet-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5em;
    font-family: $nav-font;
  }

  span {
    font-family: $nav-brand-font;
    margin-left: 1.5em;
  }

  .fa-angles-down {
    color: orangered;
    animation: updown 2s ease infinite;
    &:hover {
      color: magenta;
    }
  }
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-10%);
  }
}

/* Tablet CSS Below */
@media only screen and (min-width: 768px) {
  .nav-bar {
    background-color: $nav-background-color;
    background-image: none;
    font-size: 1.8em;
  }
}


/* Desktop CSS Below */
@media only screen and (min-width: 1024px) {

}

@media only screen and (max-width: 330px) {
  .nav-bar {
    font-size: 0.7em;
  }
}