/* ^ This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
.nav-bar {
  display: flex;
  background-color: #350066;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  color: #FFFFFF;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  font-size: 1.2em;
}
.nav-bar .tweet-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}
.nav-bar span {
  font-family: "Bungee", sans-serif;
  margin-left: 1.5em;
}
.nav-bar .fa-angles-down {
  color: orangered;
  animation: updown 2s ease infinite;
}
.nav-bar .fa-angles-down:hover {
  color: magenta;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-10%);
  }
}
/* Tablet CSS Below */
@media only screen and (min-width: 768px) {
  .nav-bar {
    background-color: #4056A1;
    background-image: none;
    font-size: 1.8em;
  }
}
/* Desktop CSS Below */
@media only screen and (max-width: 330px) {
  .nav-bar {
    font-size: 0.7em;
  }
}
