#tweet-text {
  background-color: transparent;
  border: 0px;
  border-bottom: 0.2em solid black;
  resize: none;
}

#tweet-text:hover {
  resize: both;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.counter {
  display: flex;
}

.underline {
  padding-bottom: 0.2em;
}

.tweet-counter {
  padding-top: 0.5em;
  font-family: "Bungee", sans-serif;
}