#tweet-text {
  background-color: transparent;
  border: 0 none;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.counter {
  display: flex;
}

.underline {
  border-bottom: 1px solid black;
  padding-bottom: 0.2em;
}

.tweet-counter {
  padding-top: 0.5em;
}