#tweet-text {
  background-color: transparent;
  border: 0px;
  border-bottom: 0.2em solid #545149;
  resize: none;
  outline: none;
  font-weight: bolder;
  box-shadow: none;
  padding-top: 1em;
}

.tweet-btn {
  font-family: "Bungee", sans-serif;
  margin-top: 0.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  text-align: center;
  border: 0px;
}

.tweet-btn:focus {
  outline: 0.2em solid #8DA7B4;
  outline-offset: 0.05em;
}

#tweet-text:hover {
  resize: none;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  justify-content: center;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee", sans-serif;
  margin-top: 0.5em;
}

.error-msg {
  display: none;
  color: crimson;
  border: 0.2em solid crimson;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5em;
}

@media only screen and (min-width: 768px) {
  .new-tweet {
    padding-top: 10%;
    font-size: 1.8em;
  }
}
